.body{
    margin: 0;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 200px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 480px;
    margin: auto;
    width: 480px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0 15px;
}

.input input {
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
}

.forgot-password {
    margin-top: 20px;
    color: #797979;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.forgot-password span {
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: #eaeaea;
    color: #676767;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        margin: 100px auto;
        max-width: 80%;
    }

    .text {
        font-size: 36px;
    }

    .input {
        width: 100%;
    }

    .submit-container {
        flex-direction: column;
        gap: 20px;
    }
}